/* COLOR PALETTE
#2c302e: Charleston Green
#474a48: Davys Grey
#909590: Spanish Grey
#9ae19d: Granny Smith Apple
#537a5a: Amazon */

.container {
  height: 100vw;
  padding: 20px;

  background: #9ae19d; /* fallback for old browsers */
  background: linear-gradient(to left, #9ae19d /* Granny Smith Apple */, #537a5a /* Amazon */);

  color: #2c302e; /* Charleston Green */
}

.headlinePrimary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.header {
  position: sticky;
  top: 0;

  background: #9ae19d; /* fallback for old browsers */
  background: linear-gradient(to left, #9ae19d /* Granny Smith Apple */, #537a5a /* Amazon */);
}