/* COLOR PALETTE
#2c302e: Charleston Green
#474a48: Davys Grey
#909590: Spanish Grey
#9ae19d: Granny Smith Apple
#537a5a: Amazon */

.container {
  height: 100vw;
  padding: 20px;

  background: #9ae19d; /* fallback for old browsers */
  background: linear-gradient(to left, #9ae19d /* Granny Smith Apple */, #537a5a /* Amazon */);

  color: #2c302e; /* Charleston Green */
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.button {
  background: transparent;
  border: 1px solid #474a48;
  padding: 5px;
  cursor: pointer;
}

.button:hover {
  background: #474a48;
  color: #909590;
}

.button_small {
  padding: 5px;
}

.button_large {
  padding: 8px;
}

.label {
  padding-left: 5px;
  font-size: 24px;
}

.header {
  position: sticky;
  top: 0;

  background: #9ae19d; /* fallback for old browsers */
  background: linear-gradient(to left, #9ae19d /* Granny Smith Apple */, #537a5a /* Amazon */);
}